/*estilizando o container*/
.container {
    height: 100vh;/*vai ocupar 100% da tela*/
    max-width: 992px;
    margin: 0 auto; /*centralizando tudo*/
    padding: 2.5rem 2rem;/*2.5rem verticalmente e 2rem horizontalmente*/ 
    display: flex;
    flex-direction: column;/*fica um abaixo do outro*/
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;/*duas colunas que ocupem o mesmo tamanho*/
    gap: 6.25rem;/*espaçamento entre elas*/
    align-content: center;/*deixando tudo alinhado no centro*/
}